@using CoffeeLand_UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>@ViewBag.Title</title>

    <script src="~/Areas/Admin/Scripts/chart-master/Chart.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Admin/Content/bootstrap.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Areas/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Areas/Admin/Content/style.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="login-page">
        <div class="container">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="form-login-heading">Giriş Yapınız</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="login-wrap">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    <br>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    <br />

                    <button type="submit" class="btn btn-theme btn-block"><i class="fa fa-lock"></i> Giriş Yap</button>

                    <br />

                    <div class="registration">
                        Henüz bir hesabınız yok mu ?<br />
                        <a class="" href="@Url.Action("Register","Account")" style="font-size:12pt">
                            Hesap Oluştur
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Areas/Admin/Scripts/jquery.js"></script>
    <script src="~/Areas/Admin/Scripts/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script src="~/Areas/Admin/Scripts/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/images/Index/CoffeShopBG.jpg", { speed: 500 });
    </script>
</body>
</html>

