
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Admin/Content/bootstrap.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Areas/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/zabuto_calendar.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Scripts/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Areas/Admin/lineicons/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <link href="~/images/Logo/LogoLayout.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Areas/Admin/Content/style.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/style-responsive.css" rel="stylesheet" />

    <script src="~/Areas/Admin/Scripts/chart-master/Chart.js"></script>

</head>
<body>
    <div class="container" id="container">
        <div class="row">
            <header class="header black-bg">
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                </div>
                <!--logo start-->
                <a class="custom-logo-link" href="@Url.Action("Index","Home")" style="float:left;position:relative;top:13px;">
                    <div class="coffee-cup">

                        <div class="handle">

                        </div>
                        <div class="yazi" style="font-size:25pt">
                            CoffeeLand
                        </div>
                    </div>
                </a>
                <!--logo end-->
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" href="@Url.Action("LogOut","Login")">Logout</a></li>
                    </ul>
                </div>
            </header>
        </div>
        <div class="row">
            <aside>
                <div id="sidebar" class="nav-collapse">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">

                        @*<p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                            <h5 class="centered">Marcel Newman</h5>*@

                        <li class="mt">
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home Page</a>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-down"></i>
                                <span>CRUD Operations</span>
                            </a>
                            <ul class="sub">
                                <li><a href="@Url.Action("Index","Category")"><i class="fa fa-archive"></i>Category</a></li>
                                <li><a href="@Url.Action("Index","Coffee")"><i class="fa fa-coffee"></i>Coffee</a></li>
                                <li><a href="@Url.Action("Index","CoffeeComment")"><i class="fa fa-comment"></i>Coffee Comment</a></li>
                                <li><a href="@Url.Action("Index","Barista")"><i class="fa fa-user"></i>Barista</a></li>
                                <li><a href="@Url.Action("Index","BaristaComment")"><i class="fa fa-comment"></i>Barista Comment</a></li>
                                <li><a href="@Url.Action("Index","ExtraMaterial")"><i class="fa fa-plus"></i>Extra Material</a></li>
                                <li><a href="@Url.Action("Index","Order")"><i class="fa fa-list"></i>Order</a></li>
                                <li><a href="@Url.Action("Index","OrderDetail")"><i class="fa fa-list-alt"></i>Order Detail</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
        </div>
        <div class="row" style="margin-top:50px; margin-left:1px;">
            <section id="main-content">
                @RenderBody()
            </section>
        </div>
        <div class="row">
            <footer class="site-footer">
                <div class="text-center">
                    2019 - CoffeLand &copy;
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/Areas/Admin/Scripts/jquery.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/Admin/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Areas/Admin/Scripts/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="~/Areas/Admin/Scripts/common-scripts.js"></script>
    <script src="~/Areas/Admin/Scripts/gritter/js/jquery.gritter.js"></script>
    <script src="~/Areas/Admin/Scripts/gritter-conf.js"></script>
</body>
</html>
