@model IEnumerable<CoffeeLand_DATA.Classes.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="col-md-8">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-xs btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-xs btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-xs btn-warning" })
            </td>
        </tr>
    }

</table>
