@model IEnumerable<CoffeeLand_DATA.Classes.WishList>
@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main">
    <div class="section mt-10 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
					<div class="commerce-cart">
						<table class="cart wishlist-table">
							<thead>
								<tr>
									<th class="product-remove">Ürünü Sil</th>
									<th class="product-thumbnail">Ürün Resmi</th>
									<th class="product-name">Ürün Adı</th>
									<th class="product-price">Fiyat</th>
									<th class="product-stock-stauts">Hazırlanabilir</th>
									<th class="product-add-to-cart">Sepete Ekle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td class="product-remove">
											<a href="@Url.Action("RemoveFromWishList", "Shopping", new { id = item.WishlistID})">
												<span class="glyphicon glyphicon-shopping-cart" style="color:forestgreen;"></span>
											</a>
										</td>
										<td class="product-thumbnail">
											<a href="shop-detail.html">
												<img src="@Url.Content(item.Coffee.ImageUrl)" alt="" />
											</a>
										</td>
										<td class="product-name">
											<a href="shop-detail.html">@item.Coffee.CoffeeName</a>
										</td>
										<td class="product-price">
											@string.Format("{0:C2}", item.Coffee.Price)
										</td>
										<td class="product-stock-status">
											@if (item.Coffee.IsPrepared)
											{
												<span class="glyphicon glyphicon-ok">Hazırlanabilir</span>
											}
											else
											{
												<span class="glyphicon glyphicon-warning-sign">Hazırlanamaz</span>
											}
										</td>
                                        <td class="product-add-to-cart">
                                            @if (item.Coffee.IsPrepared)
                                            {
                                                <a href="@Url.Action("AddToCartFromWishList","Shopping", new { id=item.WishlistID})">SEPETE EKLE</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("AddToCartFromWishList","Shopping", new { id=item.WishlistID})" style="pointer-events: none;opacity:0.6;">SEPETE EKLE</a>

                                            }

                                        </td>
									</tr>
								}

							</tbody>
						</table>
						@{
							if (Model.ToList().Count == 0)
							{
								<span class="lead">
									Henüz istek listesine ürün eklenmemis!
								</span>
							}							
						}
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

