
@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>CoffeLand</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/Index/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Index/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Index/settings.css" rel="stylesheet" />
    <link href="~/Content/Index/layers.css" rel="stylesheet" />
    <link href="~/Content/Index/navigation.css" rel="stylesheet" />
    <link href="~/Content/Index/style.css" rel="stylesheet" media="screen" />
    <link href="~/images/Logo/Logos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

    <style>
        #navbar {
            color: black;
            text-align: center;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0 0 20px;
            border-color: none;
            background-color: none;
            opacity: 0.8;
        }
       

    </style>

</head>
<body>
    @{
        var username = "";
        if (Session["OnlineKullanici"] != null)
        {
            username = (Session["OnlineKullanici"] as CoffeeLand_DATA.Classes.Customer).UserName;
        }
    }

    <div id="container" class="without-padding">
        <header class="clearfix" id="main-header">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand " href="@Url.Action("Index","Home")" style="float:left;position:relative;">
                            <div class="coffee-cup">
                                <div class="handle">
                                </div>
                                <div class="yazi" style="font-size:30pt;">
                                    CoffeeLand
                                </div>
                            </div>
                        </a>
                      
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <a href="#" class="open-menu">
                            <span class="opened"></span>
                            <span class="opened"></span>
                            <span class="opened"></span>
                        </a>
                        <ul class="nav navbar-nav"></ul>
                        <ul class="nav navbar-nav navbar-right" id="menuu">
                            <li class="list-unstyled">
                                @Html.ActionLink("KAHVELER", "Coffees", "Coffee")
                            </li>
                            <li class="list-unstyled">
                                @Html.ActionLink("HAKKIMIZDA", "About", "Home")
                            </li>
                            <li class="list-unstyled">
                                @Html.ActionLink("İLETİŞİM", "Contact", "Home")
                            </li>
                            <li class="list-unstyled">
                                @{
                                    if (Session["OnlineKullanici"] == null)
                                    {
                                        <a href="@Url.Action("Login","Login")">GİRİŞ YAP</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Account","Account", new { username = username})">PROFİL SAYFASI</a>
                                    }
                                }
                            </li>
                        </ul>
                    </div>






                    @*<div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand " href="@Url.Action("Index","Home")" style="float:left;">
                                <div class="coffee-cup">
                                    <div class="handle">
                                    </div>
                                    <div class="yazi" style="font-size:30pt;">
                                        CoffeeLand
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <a href="#" class="open-menu">
                                <span class="opened"></span>
                                <span class="opened"></span>
                                <span class="opened"></span>
                            </a>
                            <ul>
                                <li class="list-unstyled">
                                    @Html.ActionLink("ANASAYFA", "Index", "Home")
                                </li>
                                <li class="list-unstyled">
                                    @Html.ActionLink("KAHVELERİMİZ", "Coffees", "Coffee")
                                </li>
                                <li class="list-unstyled">
                                    @Html.ActionLink("HAKKIMIZDA", "About", "Home")
                                </li>
                                <li class="list-unstyled">
                                    @Html.ActionLink("İLETİŞİM", "Contact", "Home")
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </header>

        <div id="content">
            <div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1" style="background-color:transparent;padding:0px;">
                <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                    <ul>
                        <li data-index="rs-149" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Chill" data-description="">
                            <img src="~/images/Index/CoffeShopBG.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3"
                                 id="slide-149-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-fontsize="['70','70','70','45']"
                                 data-lineheight="['70','70','70','50']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-elementdelay="0.05"
                                 style="z-index: 5; white-space: nowrap; ">CoffeeLand</div>
                        </li>

                        <li data-index="rs-150" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Chill" data-description="">

                            <img src="~/images/Index/CoffeShopBG.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                            <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3"
                                 id="slide-150-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-fontsize="['70','70','70','45']"
                                 data-lineheight="['70','70','70','50']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-elementdelay="0.05"
                                 style="z-index: 5; white-space: nowrap;">
                                CoffeLand
                            </div>


                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2"
                                 id="slide-150-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 6; white-space: nowrap;">
                                CoffeLand
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
        </div>



        <div id="right-sidebar">
            <div class="inner-sidebar">
                <div class="menu-top">
                    <a class="close-sidebar" href=""></a>
                    <a href="@Url.Action("Index","Home")" class="menu-logo" style="font-family: 'Dancing Script', cursive;position:relative;font-size:1.5em;top:100px;">
                        <div style="font-size:40pt;">
                            CoffeeLand
                        </div>
                    </a>
                </div>
                <ul>
                    <li>
                        @Html.ActionLink("KAHVELERİMİZ", "Coffees", "Coffee")
                    </li>
                    <li>
                        @Html.ActionLink("HAKKIMIZDA", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("İLETİŞİM", "Contact", "Home")
                    </li>
                    <li>
                        @{
                            if (Session["OnlineKullanici"] == null)
                            {
                                <a href="@Url.Action("Login","Login")">GİRİŞ YAP</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Account","Account", new { username = username})">PROFİL SAYFASI</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <script src="~/Scripts/Index/jquery.min.js"></script>
    <script src="~/Scripts/Index/jquery.min.js"></script>
    <script src="~/Scripts/Index/jquery.migrate.js"></script>
    <script src="~/Scripts/Index/bootstrap.js"></script>
    <script src="~/Scripts/Index/jquery.imagesloaded.min.js"></script>
    <script src="~/Scripts/Index/waypoint.min.js"></script>

    <script src="~/Scripts/Index/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/Index/jquery.themepunch.revolution.min.js"></script>


    <script src="~/Scripts/Index/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Scripts/Index/extensions/revolution.extension.video.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="~/Scripts/Index/gmap3.min.js"></script>
    <script src="~/Scripts/Index/script.js"></script>


    <script type="text/javascript">
        var tpj = jQuery;
        var revapi46;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_46_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_46_1");
            } else {
                revapi46 = tpj("#rev_slider_46_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "on",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 50,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        },
                        bullets: {
                            style: "",
                            enable: true,
                            hide_onmobile: true,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            hide_under: 0,
                            hide_over: 9999,
                            tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-title"></span>',
                            direction: "vertical",
                            space: 0,
                            h_align: "right",
                            v_align: "center",
                            h_offset: 20,
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                        disable_onmobile: "on"
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });	/*ready*/
    </script>

</body>
</html>

