@model CoffeeLand_DATA.Classes.BaristaComment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaristaComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaristaOfBaristaComment.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaristaOfBaristaComment.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerOfBaristaComment.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerOfBaristaComment.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaristaCommentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaristaCommentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
