@model IEnumerable<CoffeeLand_DATA.Classes.BaristaComment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaristaOfBaristaComment.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserOfBaristaComment.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaristaCommentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaristaOfBaristaComment.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserOfBaristaComment.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaristaCommentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
