@model CoffeeLand_DATA.Classes.OrderDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaristaOfOrderDetail.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaristaOfOrderDetail.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoffeeOfOrderDetail.CoffeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeOfOrderDetail.CoffeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderOfOrderDetail.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderOfOrderDetail.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
