@model CoffeeLand_DATA.Classes.Coffee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Silmek İstediğinizden Emin Misiniz ?</h3>
<div>
    <h4>Kahve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryOfCoffee.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryOfCoffee.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraMaterialOfCoffee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraMaterialOfCoffee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoffeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVGPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVGPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-info" })
        </div>
    }
</div>
