@model CoffeeLand_DATA.Classes.Coffee

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detay</h2>

<div>
    <h4>Kahve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryOfCoffee.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryOfCoffee.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraMaterialOfCoffee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraMaterialOfCoffee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoffeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVGPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVGPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-info" })
</p>
