@model IEnumerable<CoffeeLand_DATA.Classes.Coffee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryOfCoffee.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AVGPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPrepared)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CategoryOfCoffee.CategoryName)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.CoffeeName)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.AVGPoint)
            </td>
            <td class="col-md-1">
                <img src="@Url.Content(item.ImageUrl)" alt="@Url.Content(item.AltText)" style="height:120px;" />
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.AltText)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.IsPrepared)
            </td>
            <td class="col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-xs btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-xs btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-xs btn-warning" })
            </td>
        </tr>
    }

</table>
