@model IEnumerable<CoffeeLand_DATA.Classes.Coffee>
@{
	ViewBag.Title = "Coffee";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row" style="margin-top:50px;">
		@{ 
			foreach (var item in Model)
			{
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="@Url.Content(item.ImageUrl)" alt="@Url.Content(item.AltText)" />
						<div class="caption">
							<h3 style="height:70px;">@item.CoffeeName - @string.Format("{0:C2}",item.Price)</h3>
							<p>@Html.ActionLink("Detayı Gör","CoffeeDetail", new { id=item.ID}, new {@class="btn btn-warning form-control" })</p>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>

